* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 40px;
}

:root {
  --primary-text: hsl(81, 15%, 35%);
  --black-text: hsl(0, 0%, 25%);
  /* Accent */
  --accent-color: #f042b1;
  --secondary-accent-color: rgb(209, 204, 255);
  --hover-card-color: hsl(322, 85%, 90%);
  /* Background */
  --primary-bg: hsl(86, 100%, 95%);
  --secondary-bg: #fff;
  /* Border */
  --border-color: #dce2cf;
}

body {
  background-color: var(--primary-bg);
  font-family: "Roboto", sans-serif;
  color: var(--primary-text);
}

main {
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.75rem;
  color: var(--black-text);
  margin-bottom: 1.5rem;
}

h3 {
  margin-bottom: 1rem;
}

img {
  width: 100%;
  height: auto;
}

.material-icons.icon-sm {
  font-size: 16px;
}
.material-icons.icon-md {
  font-size: 24px;
}
.material-icons.icon-lg {
  font-size: 36px;
}
.material-icons.icon-xl {
  font-size: 48px;
}

header {
  background-color: hsla(203, 18%, 9%, 0.95);
  position: fixed;
  width: 100%;
  z-index: 1;
}

/* Navigation */
nav {
}

nav > ul {
  display: flex;
  list-style-type: none;
}

nav > ul > li {
  padding: 16px;
  width: 100%;
  text-align: center;
}

nav > ul > li a {
  color: white;
  text-decoration: none;
}

nav > ul > li:hover {
  background-color: var(--accent-color);
}

/* Hidden mobil menu */
#mobileMenu {
  display: none;
}

#hamburger {
  height: 2.5rem;
  width: 2.5rem;
  margin-left: auto;
  padding: 0.5rem;
  cursor: pointer;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: relative;
}

@media (max-width: 599px) {
  /* Styles for phones */
  header {
    position: fixed;
    width: 100%;
  }

  nav {
    width: 100%;
  }

  #mobileMenu.open {
    display: block;
  }

  #mobileMenu ul {
    display: flex;
    flex-direction: column;
  }

  #desktopMenu {
    display: none;
  }

  #hamburger {
    display: flex;
  }

  #hamburger.open .hamline:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  #hamburger.open .hamline:nth-child(2) {
    opacity: 0;
  }

  #hamburger.open .hamline:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
  }

  /* adjust main based on the height of the header */
  main {
    padding-top: 40px;
  }
}

.hamline {
  width: 80%;
  height: 2px;
  padding: 0;
  margin: 3px 0;
  background-color: var(--secondary-bg);
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 2.5rem 0;
  height: 100%;
}

.card {
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  background-color: var(--secondary-bg);
  color: var(--black-text);
  transition: transform 250ms ease-in-out;
}

.card:hover {
  box-shadow: -1px 1px 10px 0px var(--hover-card-color);
  border-color: var(--hover-card-color);
  transform: scale(1.01);
}

@media (max-width: 599px) {
  .wrapper {
    width: 90%;
  }
}

/* Hero */
.hero {
  height: 100vh;
  padding-top: 50px;
}

.hero-wrapper {
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.hero-content {
  margin-bottom: 1.5rem;
  text-align: center;
}

.hero-welcome {
  text-transform: uppercase;
  font-size: 1.15rem;
  margin-bottom: 1rem;
  font-weight: 500;
  color: var(--accent-color);
}

.hero-title {
  font-size: clamp(2rem, 5.5vw, 4.5rem);
  margin-bottom: 1rem;
  color: var(--black-text);
}

.gradient-text {
  background: linear-gradient(
    90deg,
    var(--accent-color) 0%,
    hsl(86, 100%, 20%) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
}

.hero-subtitle {
  font-size: 1.75rem;
  margin-bottom: 1.85rem;
  font-weight: 500;
}

.hero-description {
  font-size: 1.25rem;
  margin-bottom: 2.5rem;
  line-height: 1.65;
  max-width: 750px;
}

.hero-actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.hero-link {
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  color: var(--black-text);
  text-decoration: none;
}

.hero-link:hover {
}

.hero-link-primary {
  background-color: var(--accent-color);
  color: #fff;
}

.hero-link-secondary {
  border-color: var(--black-text);
}

.hero-shape-right,
.hero-shape-left,
.hero-shape-middle {
  position: absolute;
  border-radius: 50%;
  background-color: var(--accent-color);
  filter: blur(70px);
  z-index: -1;
}

.hero-shape-left {
  top: 10%;
  left: 10px;
  width: 30%;
  height: 40%;
  opacity: 0.35;
  animation: moveShapeLeft 13s ease infinite alternate;
}

@keyframes moveShapeLeft {
  0% {
    left: 10px;
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    left: 50%;
    transform: scale(0.5);
  }
}

.hero-shape-right {
  bottom: 20%;
  right: 10px;
  width: 15%;
  height: 15%;
  opacity: 0.75;
  animation: moveShapeRight 20s ease-in infinite alternate;
}

@keyframes moveShapeRight {
  0% {
    right: 10%;
  }
  50% {
    bottom: 30%;
    transform: scale(1.5);
  }
  100% {
    right: 80%;
  }
}

.hero-shape-middle {
  background-color: var(--secondary-accent-color);
  top: 10%;
  right: 10px;
  width: 25%;
  height: 35%;
  animation: moveShapeMiddle 10s ease-in infinite alternate;
}

@keyframes moveShapeMiddle {
  0% {
    right: 10%;
    width: 35%;
  }
  50% {
    right: 80%;
    top: 60%;
    height: 15%;
    width: 15%;
    transform: scale(1.5);
    opacity: 1;
    filter: blur(30px);
  }
  100% {
    right: 80%;
    width: 45%;
  }
}

.hero-btn {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 2rem;
  background-color: var(--accent-color);
  color: white;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 599px) {
  .hero-container {
    flex-direction: column;
  }

  .hero-actions {
    flex-direction: column;
  }

  .hero-link {
    display: block;
    width: 100%;
  }
}

/* === ABOUT === */
.about {
  color: var(--primary-text);
}

.about a {
  color: white;
}

.about-header {
  text-align: center;
  margin-bottom: 2rem;
}

.about-title {
  font-size: 1.75rem;
  color: var(--black-text);
  margin-bottom: 1.5rem;
}

.about-description {
  line-height: 1.65;
  font-size: 1.125rem;
  max-width: 650px;
  margin: 0 auto;
}

.about-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
}

.about-card {
  flex: 1;
}

.about-card-image {
  width: 100%;
}

.about-card-image img {
  width: 100%;
  height: auto;
}

.about-card-title {
}

.about-card-text {
}

@media (max-width: 599px) {
  .about-cards {
    flex-direction: column;
  }
}

/* === SKILLS === */

.skills {
}

.skills-header {
  text-align: center;
  margin-bottom: 2rem;
}

.skills-title {
  font-size: 1.75rem;
  color: var(--black-text);
  margin-bottom: 1.5rem;
}

.skills-description {
  line-height: 1.65;
  font-size: 1.125rem;
  max-width: 650px;
  margin: 0 auto;
}

.skills-cards {
  list-style: none;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.skills-card {
}

.skills-card-title {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.skills-card-title .material-symbols-outlined {
  color: var(--accent-color);
}

/* === Mission === */
.mission {
}

.mission-header {
  text-align: center;
  margin-bottom: 2rem;
}

.mission-title {
}

.mission-description {
  line-height: 1.65;
  font-size: 1.125rem;
  max-width: 650px;
  margin: 0 auto;
}

.mission-container {
  display: flex;
  gap: 1rem;
}

.mission-text {
  line-height: 1.65;
  margin-top: 2rem;
  flex: 1;
}

.mission-text p:nth-of-type(2) {
  margin-top: 1rem;
}

.mission-image {
  flex: 1;
}

.mission-image img {
  width: 100%;

  object-fit: cover;
  border-radius: 8px;
}

@media (max-width: 599px) {
  .mission-container {
    flex-direction: column;
  }
}

/* === PROJECTS === */

.projects {
}

.projects-header {
  text-align: center;
  margin-bottom: 2rem;
}

.projects-title {
}

.projects-description {
  max-width: 650px;
  margin: 0 auto;
}

.project-list {
}

.project-item {
  display: flex;
  gap: 1.5rem;
}

.project-image {
  flex-basis: 40%;
}

.project-image img {
  width: 100%;
  height: auto;
}

.project-content {
  flex-basis: 60%;
  margin-top: 3.5rem;
}

.project-title {
  font-size: 1.5rem;
}

.project-description {
  margin-bottom: 2rem;
}

.project-actions {
}

.project-link {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  color: var(--black-text);
  background-color: var(--accent-color);
  color: #fff;
}

.project-divider {
  height: 1px;
  width: 100%;
  background-color: var(--border-color);
}

@media (max-width: 599px) {
  .project-item {
    flex-direction: column;
  }
  .project-image {
    display: none;
  }

  .project-content {
    margin-top: 2rem;
  }

  .project-link {
    width: 100%;
    text-align: center;
  }
}

/* == Gallery == */
.gallery {
}

.gallery-header {
  text-align: center;
  margin-bottom: 2rem;
}

.gallery-title {
}

.gallery-description {
  max-width: 650px;
  margin: 0 auto;
}

.gallery-content {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.gallery-content img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.gallery-content img:hover {
  transform: scale(1.02);
}

.img-container {
}

/* == Lightbox == */
.lightbox.hidden {
  display: none;
}

.lightbox {
  position: fixed;
  inset: 0;
  display: grid;
  place-items: center;
}

.lightbox-backdrop {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
}

.lightbox-content {
  position: relative;
  max-width: 90vw;
  max-height: 90vh;
  padding: 1rem;
}

.lightbox-content img {
  width: 100%;
  border-radius: 8px;
}

.lightbox-close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;

  background: var(--secondary-bg);
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.5rem;
  line-height: 1;
  cursor: pointer;

  transition: transform 0.2s ease;
}

.lightbox-close:hover {
  transform: scale(1.1);
}

.lightbox-close:active {
  transform: scale(0.95);
}

/* === Contact === */
.contact {
  background-color: var(--primary-bg);
  color: var(--primary-text);
}

.contact-header {
  text-align: center;
  margin-bottom: 2rem;
}

.contact-intro {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 650px;
  margin: 0 auto;
  align-items: center;
}

.contact-img {
  width: 100px;
  height: 100px;
  border: 1px solid var(--accent-color);
  border-radius: 50%;
  overflow: hidden;
}

.contact-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.contact-description {
  /* max-width: 650px; */
  /* margin: 0 auto; */
  flex: 1;
}

.contact-note {
  max-width: 650px;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

.contact-form {
  background-color: var(--secondary-bg);
  padding: 2rem 1.75rem;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  max-width: 650px;
  margin: 0 auto;
}

.contact-form-group {
  margin-bottom: 1.5rem;
}

.contact-form-group .contact-label {
  display: block;
  margin-bottom: 0.5rem;
}

.contact-form-group .contact-input,
.contact-textarea {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid var(--border-color);
}

.contact-form-actions .contact-button {
  padding: 0.5rem 2rem;
  background-color: var(--accent-color);
  color: white;
  border-radius: 8px;
  border: none;
  width: 100%;
}

.contact-cards {
  list-style: none;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  margin: 2rem 0;
}

.contact-card {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 1.5rem;
}

.contact-card-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: var(--accent-color);
  border-radius: 12px;
  color: white;
}

.contact-card-content {
  flex: 1;
}

.contact-card-service {
  margin-bottom: 0.25rem;
}

.contact-card-link {
  text-decoration: none;
}

/* === FOOTER === */
.footer {
  text-align: center;
}
